* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 10s ease infinite;
	animation: gradient 10s ease infinite;
	@-webkit-keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
    main{
        width: 100%;
        .button_top {
            display: block;
            box-sizing: border-box;
            border: 2px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
            min-width: 220px;
        }
        button:focus {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline-width: 0;
        }
        .container-fluid {
            padding-top: 120px;
            padding-bottom: 10px;
        }
        .active {
            border-radius: 6px;
            background-image: linear-gradient(#90CAF9, #64B5F6);
            color: #000;
        }
    }
}