@media (max-width: 472px) {
    body {
        padding: 0%;
    }
    .main_secondSection #formulario1 {
    font-size: 2.3rem;
    max-width: 100%;
    }
    .nombre{
        font-size: 1.8rem;
    }
    #tel {
        width: 100%;
        font-size: 1.8rem;
    }
    .main_firstSeccion .brand {
        font-size: 87px;
        margin-left: 1%;
    }
    .main_firstSeccion .brand2 {
        top: 8%;
        font-size: 2.5em;
    }
    .button_top {
        font-size: 1.9rem;
    }
    .bn631-hover {
        margin: 5% 25% 0%;
    }
    .bn632-hover {
        margin: 5% 25% 0%;
        
    }
    .bn633-hover {
        margin: 3% 15% 0%;
    }
    .main_therdSection .card .bn634-hover {
        margin: 3% 15% 0%;
    }  
    #mensajeFinal .bn635-hover {
        font-size: 1.7rem;
        top: 55%;
        right: 22%;
    }
    
    .datepicker table {
        font-size: 2rem;    
    }
    .imagen_page_1 {
        display: none;
    }

    .main_therdSection {
    height: 650px;
    }
    html {
        font-size: 50%;
    } 
    .main {
        margin-top: 100%;
    }
    #mensajeFinal {
        height: 200px;
        width: 80%;
        margin: 0% 0% 0% 15%;
        }
    .main_therdSection .card {
        font-size: 2em;
        width: 100%;
        margin-left: 5px;
    }
}

@media (max-width: 385px) {
    * {
        margin: 0;
    }
    body {
        padding: 0%;
    }
    .main_secondSection #formulario1 {
    font-size: 2.3rem;
    max-width: 100%;
    }
    .nombre{
        font-size: 1.8rem;
    }
    #tel {
        width: 100%;
        font-size: 1.8rem;
    }
    .main_firstSeccion .brand {
        font-size: 87px;
        margin-left: 1%;
    }
    .main_firstSeccion .brand2 {
        top: 8%;
        font-size: 2.5em;
    }
    .button_top {
        font-size: 1.9rem;
    }
    .bn631-hover {
        margin: 5% 25% 0%;
    }
    .bn632-hover {
        margin: 5% 25% 0%;
        
    }
    .bn633-hover {
        margin: 3% 15% 0%;
    }
    .main_therdSection .card .bn634-hover {
        margin: 3% 15% 0%;
    }  
    #mensajeFinal .bn635-hover {
        font-size: 1.7rem;
        top: 60%;
        right: 17%;
    }
    
    .datepicker table {
        font-size: 2rem;    
    }
    .imagen_page_1 {
        display: none;
    }

    .main_therdSection {
    height: 650px;
    }
    html {
        font-size: 50%;
    } 
    .main {
        margin-top: 100%;
    }
    #mensajeFinal {
        height: 200px;
        width: 80%;
        margin: 0% 0% 0% 15%;
        }
    .main_therdSection .card {
        font-size: 2em;
        width: 100%;
        margin-left: 5px;
    }
}