:root {
    --bs-1-font-family: 'Abril Fatface', cursive;
    --bs-2-font-family: 'Cormorant SC', serif;
    --bs-3-font-family: 'Noto Serif JP', serif;
    --bs-4-font-family: 'Tai Heritage Pro', serif;
}

//maps 

$tipografias: (
    titulos-generales: 'Caladea',  
    subtitulos: 'Livvic',
    menu-nav: 'Inter',
    font-size: 3.2rem,
)